header {
  background-color: #555;
  color: white;
  padding: 10pt 10pt 0pt 10pt;
  margin: 0;
/*
  position: sticky;
  top: 0;
  z-index: 1;
*/
  width: 100%;
}

footer {
  text-align: center;
  margin-top: 12pt;
  margin-bottom: 6pt;
  width: 100%;
}

pre {
  margin: 0pt;
}

.defaultblockborder {
  width: 100%;
  padding: 6pt;
  border: 1pt solid #555;
}

.defaultblockborder th, td {
  padding: 2pt;
}

.navlnk:link, .navlnk:visited {
  background-color: #444;
  color: lightblue;
  padding: 8pt 12pt;
  text-align: center;
  display: inline-block;
}

.navlnk:hover, .navlnk:active {
  background-color: #333;
}

.navlnkactive:hover, .navlnkactive:active, .navlnkactive:link, .navlnkactive:visited {
  background-color: #333;
  color: white;
  padding: 8pt 12pt;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active, a:link, a:visited {
  color: #03a;
}
